## 1. Introduction

This notebook shows how to connect Jupyter notebooks to a Spark Cluster, read a local CSV and store it to Hadoop as partitioned parquet files.

## 2. Connection to Spark Cluster

To connect to the Spark cluster, create a SparkSession object with the following params:

+ **appName:** application name displayed at the [Spark Master Web UI](http://localhost:8080/);
+ **master:** Spark Master URL, same used by Spark Workers;
+ **spark.executor.memory:** must be less than or equals to docker compose SPARK_WORKER_MEMORY config.

In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        getOrCreate()

22/11/25 14:21:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## 3. Load and Store Data
We will now load data from a local CSV and store it to Hadoop partitioned by column.
Afterward you can access Hadoop UI to explore the saved parquet files.
Access Hadoop UI on 'http://localhost:9870' (Utilities -> Browse the files system )

In [2]:
import pandas
from pyspark.sql.types import *
from pyspark.sql import functions as F
import os
import time    
epochNow = int(time.time())

In [3]:
#Iterate over all files until we find the sales file and then creates a Pandas dataframe.
for path, subdirs, files in os.walk('./data/'):
    for name in files:
        if "salesRecord" in name:
            csvName = name
            csvPath = os.path.join(path, name)
            print("Loading data from csv {}".format(csvPath))
            salesDfPandas = pandas.read_csv(csvPath)

Loading data from csv ./data/salesRecord.csv

In [4]:
#Create PySpark DataFrame from Pandas
salesDfSpark=spark.createDataFrame(salesDfPandas)

/usr/local/lib/python3.9/dist-packages/pyspark/sql/pandas/conversion.py:327: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

In [5]:
#Remove spaces in column names
salesDfSpark = salesDfSpark.select([F.col(col).alias(col.replace(' ', '_')) for col in salesDfSpark.columns])
print("Sales Dataframe created with schema : ")
salesDfSpark.printSchema()

Sales Dataframe created with schema :
root
 |-- Region: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Item_Type: string (nullable = true)
 |-- Sales_Channel: string (nullable = true)
 |-- Order_Priority: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Order_ID: long (nullable = true)
 |-- Ship_Date: string (nullable = true)
 |-- Units_Sold: long (nullable = true)
 |-- Unit_Price: double (nullable = true)
 |-- Unit_Cost: double (nullable = true)
 |-- Total_Revenue: double (nullable = true)
 |-- Total_Cost: double (nullable = true)
 |-- Total_Profit: double (nullable = true)

In [6]:
# Write Dataframe into HDFS
# Repartition it by "Country" column before storing as parquet files in Hadoop
salesDfSpark.write.option("header",True) \
        .partitionBy("Country") \
        .mode("overwrite") \
        .parquet("hdfs://hadoop-namenode:9000/sales/{}_{}.parquet".format(csvName,epochNow))
print("Sales Dataframe stored in Hadoop.")

Sales Dataframe stored in Hadoop.

In [7]:
# Read from HDFS to confirm it was successfully stored
df_load = spark.read.parquet("hdfs://hadoop-namenode:9000/sales/{}_{}.parquet".format(csvName,epochNow))
print("Sales Dataframe read from Hadoop : ")
df_load.show()

Sales Dataframe read from Hadoop :
+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-----------+
|              Region|      Item_Type|Sales_Channel|Order_Priority|Order_Date| Order_ID| Ship_Date|Units_Sold|Unit_Price|Unit_Cost|Total_Revenue|Total_Cost|Total_Profit|    Country|
+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-----------+
|Middle East and N...|      Baby Food|       Online|             M| 2/21/2011|195833718|  4/7/2011|       404|    255.28|   159.42|    103133.12|  64405.68|    38727.44|    Bahrain|
|Middle East and N...|         Fruits|       Online|             L|11/20/2015|282475936|11/28/2015|      9762|      9.33|     6.92|     91079.46|  67553.04|    23526.42|    Bahrain|
|Middle East and N...|      Beverages|       Online|             L| 6/24/2015|953554761| 7/28/2015|      6899|     47.45|    31.79|    327357.55| 219319.21|   108038.34|    Bahrain|
|Middle East and N...|  Personal Care|       Online|             C|  8/5/2014|502715766| 8/17/2014|      3621|     81.73|    56.67|    295944.33| 205202.07|    90742.26|    Bahrain|
|Middle East and N...|         Fruits|       Online|             M| 3/14/2017|688344371| 4/28/2017|      5251|      9.33|     6.92|     48991.83|  36336.92|    12654.91|    Bahrain|
|Middle East and N...|         Fruits|      Offline|             H| 9/28/2012|675548303| 11/6/2012|      8610|      9.33|     6.92|      80331.3|   59581.2|     20750.1|    Bahrain|
|Middle East and N...|      Beverages|       Online|             C|  9/4/2010|133276879|10/17/2010|      8445|     47.45|    31.79|    400715.25| 268466.55|    132248.7|    Bahrain|
|Middle East and N...|      Beverages|      Offline|             M| 2/28/2017|886628711| 3/31/2017|      1993|     47.45|    31.79|     94567.85|  63357.47|    31210.38|    Bahrain|
|Central America a...|      Cosmetics|      Offline|             C|  2/7/2013|253407227| 2/15/2013|      7685|     437.2|   263.33|    3359882.0|2023691.05|  1336190.95|The Bahamas|
|Central America a...|         Cereal|      Offline|             L|12/19/2013|450268065|  1/4/2014|      3181|     205.7|   117.11|     654331.7| 372526.91|   281804.79|The Bahamas|
|Central America a...|      Baby Food|       Online|             C| 1/11/2013|300476777| 2/28/2013|      6610|    255.28|   159.42|    1687400.8| 1053766.2|    633634.6|The Bahamas|
|Central America a...|         Snacks|       Online|             L| 4/24/2013|786519229|  6/7/2013|      7373|    152.58|    97.44|   1124972.34| 718425.12|   406547.22|The Bahamas|
|Central America a...|         Cereal|      Offline|             M|11/27/2012|735968816| 12/6/2012|      8382|     205.7|   117.11|    1724177.4| 981616.02|   742561.38|The Bahamas|
|Middle East and N...|           Meat|       Online|             C| 1/14/2011|972678697| 2/25/2011|      6096|    421.89|   364.69|   2571841.44|2223150.24|    348691.2|      Egypt|
|Middle East and N...|      Baby Food|      Offline|             M|  9/8/2015|939787089|  9/9/2015|      2739|    255.28|   159.42|    699211.92| 436651.38|   262560.54|      Egypt|
|Middle East and N...|           Meat|      Offline|             C| 6/17/2015|636879432|  7/3/2015|      5632|    421.89|   364.69|   2376084.48|2053934.08|    322150.4|      Egypt|
|Middle East and N...|Office Supplies|       Online|             M| 8/23/2010|950427091| 9/14/2010|      1352|    651.21|   524.96|    880435.92| 709745.92|    170690.0|      Egypt|
|Middle East and N...|         Snacks|      Offline|             C| 1/13/2017|596870315| 2/18/2017|      6045|    152.58|    97.44|     922346.1|  589024.8|    333321.3|      Egypt|
|Middle East and N...|         Fruits|      Offline|             L| 9/13/2011|733563411| 9/20/2011|      6569|      9.33|     6.92|     61288.77|  45457.48|    15831.29|   Pakistan|
|Middle East and N...|        Clothes|      Offline|             M| 6/28/2010|450849997| 7/21/2010|      5388|    109.28|    35.84|    588800.64| 193105.92|   395694.72|   Pakistan|
+--------------------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+-------------+----------+------------+-----------+
only showing top 20 rows